kind: ConfigMap
apiVersion: v1
metadata:
    name: game-library-config
    namespace: game-library
data:
    APP_HTTP_ADDRESS: "0.0.0.0:8000"
    APP_DEBUG_ADDRESS: "0.0.0.0:6060"
    APP_GRPC_ADDRESS: "0.0.0.0:9000"
    APP_READTIMEOUT: "30s"
    APP_WRITETIMEOUT: "15s"
    APP_ALLOWEDCORSORIGIN: "https://_K8S_URL_,https://_UI_URL_"
    AUTH_VERIFYTOKENURL: "https://_K8S_URL_/_auth/token/verify"
    ZIPKIN_REPORTERURL: "http://zipkin-service.game-library.svc.cluster.local:9411/api/v2/spans"
    SCHED_FETCH_IGDB_GAMES: "0 5 * * *"
    SCHED_UPDATE_TRENDING_INDEX: "0 3 * * *"
    SCHED_UPDATE_GAME_INFO: "0 2 * * *"
    SCHED_PROCESS_MODERATION: "*/2 * * * *"
    REDIS_ADDR: "redis-service.game-library.svc.cluster.local:6379"
    REDIS_TTL: "2h"
    GRAYLOG_ADDR: "graylog-service.game-library.svc.cluster.local:12201"
    S3_REGION: "auto"
    S3_BUCKET_NAME: "game-library"
    LOG_LEVEL: "INFO"
---
kind: ConfigMap
apiVersion: v1
metadata:
    name: zipkin-config
    namespace: game-library
data:
    ZIPKIN_UI_BASEPATH: "/_trace/zipkin"
---
kind: ConfigMap
apiVersion: v1
metadata:
    name: graylog-config
    namespace: game-library
data:
    GRAYLOG_HTTP_EXTERNAL_URI: "https://_K8S_URL_/_log/"
---
kind: ConfigMap
apiVersion: v1
metadata:
    name: prometheus-config
    namespace: game-library
data:
    prometheus.yml: |
        global:
            scrape_interval: 15s
            evaluation_interval: 15s
            scrape_timeout: 1s
          
        scrape_configs:
          - job_name: 'prometheus'
            # because of ingress prefix
            metrics_path: '/_metrics/metrics'
            static_configs:
              - targets: [ 'localhost:9090' ]
              
          - job_name: 'game-library'
            kubernetes_sd_configs:
              - role: endpoints
                namespaces:
                    names:
                      - game-library
            relabel_configs:
              - source_labels: [ __meta_kubernetes_service_name ]
                action: keep
                regex: game-library-service
              - source_labels: [ __meta_kubernetes_endpoint_port_name ]
                action: keep
                regex: api
