services:

  db:
    container_name: games_db
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    restart: on-failure:5
    environment:
      POSTGRES_USER: games-user
      POSTGRES_PASSWORD: games-password
      POSTGRES_DB: games

  zipkin:
    container_name: zipkin
    image: openzipkin/zipkin:3.5
    ports:
      - "9411:9411"
    environment:
      ZIPKIN_UI_BASEPATH: /zipkin

  redis:
    container_name: redis
    image: redis:8.2-alpine
    command: redis-server #--requirepass
    ports:
      - "6379:6379"
    restart: always

  api:
    container_name: game-library
    image: game-library:latest
    ports:
      - "8000:8000"
      - "6060:6060"
      - "9000:9000"
    environment:
      DB_DSN: postgres://games-user:games-password@db/games?sslmode=disable
      APP_HTTP_ADDRESS: 0.0.0.0:8000
      APP_DEBUG_ADDRESS: 0.0.0.0:6060
      APP_GRPC_ADDRESS: 0.0.0.0:9000
    depends_on:
      - db
      - zipkin
      - redis

  mng:
    container_name: game-library-mng
    image: game-library-mng:latest
    environment:
      DB_DSN: postgres://games-user:games-password@db/games?sslmode=disable
    depends_on:
      - db

  # connect from docker network:
  #   docker run -it --rm --network game-library_graylog mongo mongosh --host mongo -u admin -p password --authenticationDatabase admin test
  # connect outside of docker network:
  #   docker run -it --rm mongo mongosh --host 192.168.x.x -u admin -p password --authenticationDatabase admin test
  mongo:
    container_name: mongo
    image: mongo:6.0.8
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: graylog
    # not required with docker network
    # ports:
    #  - "27017:27017"
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - graylog

  elasticsearch:
    container_name: elasticsearch
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.2
    environment:
      - cluster.name=graylog
      - node.name=graylog-elasticsearch
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - http.host=0.0.0.0
      - transport.host=localhost
      - network.host=0.0.0.0
      - "ES_JAVA_OPTS=-Dlog4j2.formatMsgNoLookups=true -Xms512m -Xmx512m"
      - xpack.security.enabled=true
      - xpack.security.transport.ssl.enabled=true
      - ELASTIC_PASSWORD=password
    restart: always
    deploy:
      resources:
        limits:
          memory: 1g
    # not required with docker network
    # ports:
    #  - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data
    networks:
      - graylog

  graylog:
    image: graylog/graylog:5.1.3
    volumes:
      - graylog_data:/usr/share/graylog/data
    environment:
      - GRAYLOG_PASSWORD_SECRET=1234567890abcdef
      # admin:admin
      # echo -n "Enter Password: " && head -1 < /dev/stdin | tr -d '\n' | sha256sum | cut -d " " -f1
      - GRAYLOG_ROOT_PASSWORD_SHA2=8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918
      # https://go2docs.graylog.org/5-0/setting_up_graylog/server.conf.html
      - GRAYLOG_HTTP_EXTERNAL_URI=http://127.0.0.1:9000/
      # "if the public IP address of the server is 203.0.113.10 and the Graylog web interface is listening on port 9000,
      # the value should be set to http://203.0.113.10:9000/ "
      - GRAYLOG_HTTP_PUBLISH_URI=http://127.0.0.1:9000/
      - GRAYLOG_MONGODB_URI=mongodb://admin:password@mongo:27017/graylog?authSource=admin
      - GRAYLOG_ELASTICSEARCH_HOSTS=http://elastic:password@elasticsearch:9200
    entrypoint: /usr/bin/tini -- wait-for-it elasticsearch:9200 --  /docker-entrypoint.sh
    restart: always
    depends_on:
      - mongo
      - elasticsearch
    ports:
      # Graylog web interface and REST API
      - "9000:9000"
      # GELF TCP
      - "12201:12201"
    networks:
      - graylog
        
  prometheus:
    container_name: prometheus
    image: prom/prometheus:v3.2.1
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    volumes:
      - prometheus_data:/prometheus
    restart: always
    configs:
      - source: prometheus_config
        target: /etc/prometheus/prometheus.yml

volumes:
  mongo_data:
    driver: local
  es_data:
    driver: local
  graylog_data:
    driver: local
  prometheus_data:
    driver: local
    
configs:
  prometheus_config:
    content: |
      global:
        scrape_interval: 15s
        evaluation_interval: 15s
        scrape_timeout: 1s
      
      scrape_configs:
        - job_name: 'prometheus'
          static_configs:
            - targets: ['localhost:9090']
      
        - job_name: 'game-library'
          static_configs:
            - targets: ['host.docker.internal:8000']

networks:
  graylog:
    driver: bridge
